@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

@layer base {
  html {
    @apply text-base;
    font-family: Inter;
  }
}

:root {
  --color-text-base: 226 232 240;
  --color-text-muted: 148 163 184;
  --color-text-inverted: 34 56 67;
  --color-fill: 15 23 42;
  --color-accent: 242 97 87;
  --color-accent-2: 94 234 212;
}