@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

@layer base {
  html {
    @apply text-base;
    font-family: Inter
  }
}
:root {
  --color-text-base: rgb(226 232 240);
  --color-text-muted: rgb(148 163 184);
  --color-text-inverted: #223843;
  --color-fill: rgb(15 23 42);
  --color-accent: #F26157;
  --color-accent-2: rgb(94 234 212);
}